@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.accreditationSection-container {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .accreditationSection-container:before {
    content: '';
    position: absolute;
    background: url('../../assets/section-bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.03;
  }


.accreditationSection-content {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.accreditationSectionHeader {
    padding: 1rem;
}

.accreditationSectionHeader h1 {
    font-size: 2rem;
    text-align: center;
    color: #edaa09;
    font-family: "Gabriola";
    line-height: 1.5rem;
    padding: 1rem 0;
}

.accreditationSection-left {
    width: 50%;
    text-align: center;
    margin: auto;
}

.accreditationSection-left img {
    width: 100%;
    border-radius: 10px;
}

.accreditationSection-right {
    width: 50%;
    margin: auto;
}

.accreditationSection-right ul {
    padding: .5rem 0;
}

.accreditationSection-right h1 {
    font-size: 1rem;
    text-align: left;
    color: #edaa09;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.accreditationSection-right h2 {
    font-size: 1.5rem;
    text-align: left;
    color: #edaa09;
    font-family: "Gabriola";
    line-height: .5rem;
    padding: .5rem 0;
}


.accreditationSection-right p {
    text-align: justify;
    font-size: 14px;
}



@media screen and (max-width:940px) {
  .accreditationSection-content {
    flex-wrap: wrap;
}

    .accreditationSection-left {
        width: 100%;
    }

    .wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    .accreditationSection-right {
        width: 100%;
    }

}

