@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.insuranceContractingSection {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0);
  position: relative;
  padding: 2rem 0;
}

.insuranceContractingSection:before {
  content: '';
  position: absolute;
  background: url('../../assets/section-bg.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.03;
}

.insuranceContractingSection-header {
  padding: 1rem;
}

.insuranceContractingSection-header h1 {
  font-family: "Gabriola";
  color: #804e05d3;
  font-size: 2rem;
  line-height: 1.5rem;
  padding: .5rem 0;
  text-align: center;
}

.insuranceContractingSection-header p {
  font-size: 14px;
}

.insuranceContractingSection-content {
  padding: 1rem;
}

.insuranceContractingSection-flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.insuranceContractingSection-left {
  width: 50%;
  margin: auto;
}

.insuranceContractingSection-left ul li {
  padding: .2rem 0;
}

.insuranceContractingSection-left h1 {
  font-family: "Gabriola";
  color: #804e05d3;
  font-size: 1.5rem;
  line-height: 1rem;
  padding: .5rem 0;
  text-align: left;
}

.insuranceContractingSection-right {
  width: 500px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(10,9,10,1);
  -moz-box-shadow: 0px 0px 10px -5px rgba(10,9,10,1);
  box-shadow: 0px 0px 10px -5px rgba(10,9,10,1);
}

.insuranceContractingSection-right img {
  width: 100%;
  border-radius: 10px;
}


.insuranceContractingSection-footer {
  padding: 1rem;
}

.insuranceContractingSection-footer h1 {
  font-family: "Gabriola";
  color: #804e05d3;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: .5rem 0;
  text-align: left;
}

.insuranceContractingSection-footer p {
  text-align: justify;
  font-size: 14px;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

  .insuranceContractingSection-flex {
    flex-wrap: wrap;
  }
  
  .insuranceContractingSection-left {
    width: 100%;
    margin: auto;
  }
  
  .insuranceContractingSection-right {
    width: 100%;
    margin: auto;
  }
  
  .insuranceContractingSection-header p {
    text-align: center;
  }

  }


