@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.investingSection {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0);
  position: relative;
  padding: 2rem 0;
}

.investingSection:before {
  content: '';
  position: absolute;
  background: url('../../assets/section-bg.jpg') no-repeat center center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.03;
}

.investingSection-header {
  padding: 1rem;
}

.investingSection-header h1 {
  font-family: "Gabriola";
  color: #804e05d3;
  font-size: 2rem;
  line-height: 1.5rem;
  padding: .5rem 0;
  text-align: center;
}

.investingSection-header p {
  font-size: 14px;
}

.investingSection-content {
  padding: 1rem;
}

.investingSection-flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
}

.investingSection-left {
  width: 50%;
  margin: auto;
}

.investingSection-left ul li {
  padding: .2rem 0;
}

.investingSection-left h1 {
  font-family: "Gabriola";
  color: #804e05d3;
  font-size: 1.5rem;
  line-height: 1rem;
  padding: .5rem 0;
  text-align: left;
}

.investingSection-left p {
  font-size: 14px;
}

.investingSection-right {
  width: 500px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(10,9,10,1);
  -moz-box-shadow: 0px 0px 10px -5px rgba(10,9,10,1);
  box-shadow: 0px 0px 10px -5px rgba(10,9,10,1);
}

.investingSection-right img {
  width: 100%;
  border-radius: 10px;
}


.investingSection-footer {
  padding: 1rem;
}

.investingSection-footer h1 {
  font-family: "Gabriola";
  color: #804e05d3;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: .5rem 0;
  text-align: left;
}

.investingSection-footer p {
  font-size: 14px;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {

  .investingSection-flex {
    flex-wrap: wrap;
  }
  
  .investingSection-left {
    width: 100%;
    margin: auto;
    text-align: left;
  }
  
  .investingSection-right {
    width: 100%;
    margin: auto;
  }
  
  .investingSection-header p {
    text-align: justify;
  }

  .investingSection-left p {
    text-align: justify;
  }
  
  .investingSection-footer p {
    text-align: justify;
  }
  }


