@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');



.licensing {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    background: rgb(250, 249, 247);
    margin: 8rem 0 5rem 0;
}
  
  .licensing:before {
    content: '';
    position: absolute;
    background: url('../../assets/section-bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.03;
  }


.licensing .content {
    top: 10%;
    padding: 6rem 1rem;
    text-align: center;
}

.box-icon {
    font-size: 5rem;
    color: var(--primary-color);
}


.box-content {
    width: 100%;
    border: 1px solid rgba(100, 94, 94, 0.158);
    border-radius: .5rem;

}

/* LEFT */

.licensing .licensing-left {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.TherapyMH .left-content {
    top: 15%;
}

.licensing .licensing-left h1 {
    color: #000000;
    font-size: 1.2rem;
    letter-spacing: 3px; 
    text-transform: uppercase;
}

.licensing .licensing-left h2 {
    color: #804e05d3;
    font-size: 1.8rem;
    font-family: "Gabriola";

}


/* RIGHT */

 .licensing-right {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.licensing-right img {
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.licensing-right .item {
    height: auto;
    width: 350px;
}





/* box 1 */

.box1 .box-content h1 {
    color: #804e05d3;
    padding: 1rem 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.box1 .box-content p {
    color: #4d4b4b;
    text-align: center;
    padding: .5rem;
}

/* box 2 */

.box2 .box-content h1 {
    color: #804e05d3;
    padding: 1rem 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.box2 .box-content p {
    color: #4d4b4b;
    text-align: center;
    padding: .5rem;
}

/* box 3 */

.box3 .box-content h1 {
    color: #804e05d3;
    padding: 1rem 0;
    font-size: 1rem;
    text-transform: uppercase;
}

.box3 .box-content p {
    color: #4d4b4b;
    text-align: center;
    padding: .5rem;

}




/* button */

.licensing-btn {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.licensing-cta {
    position: relative;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    justify-content: center;
   }
   
   .licensing-cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--primary-color);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .licensing-cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #804e05d3;
   }
   
   .licensing-cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #804e05d3;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .licensing-cta:hover:before {
    width: 100%;
    background: var(--primary-color);
   }
   
   .licensing-cta:hover svg {
    transform: translateX(0);
   }
   
   .licensing-cta:active {
    transform: scale(0.95);
   }





@media screen and (max-width:1200px) {
    .licensing .licensing-left {
        width: 100%;
    }

    .licensing .content {
        flex-wrap: wrap;
        text-align: center;
        padding: 3rem 0;
    }

    .licensing .content p {
        text-align: center;
        padding: 0 1rem;
    }



    .licensing-right {
        flex-wrap: wrap;
    }

}


@media screen and (max-width:940px) {


    .licensing-right  .box{
        width: 100%;
        flex-wrap: wrap;
        border: 1px solid #5a5c824d;
    }

    .TherapyMH .licensing-left h1{
        font-size: 1.5rem;
    }

    .licensing .licensing-left p {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .licensing .licensing-left {
        width: 100%;
    }

    .licensing .licensing-right {
        width: 100%;
    }

    .licensing-btn {
        padding: 3rem 0 0 0;
    }

    .box .box-content h1 {
        padding: 0 0 .5rem 0;
    }

    .box-icon {
        font-size: 4rem;
        padding: 0;
    }




}


@media screen and (max-width:720px) {
    .licensing-right .item {
        width: 100%;
        margin: 0 1rem;
    }
}
